<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/exibirDados.css">
    <title>Aluno</title>
</head>
<body>
    <div id="form-busca" class="form-container">
        <form class="form-entidade">
            <label>Informe o id do Aluno: <input type="text" name="idAluno" id="buscaIdAluno"></label>
            <button>Busca Aluno</button>
        </form>
    </div>
    <div id="resultado-container"></div>
    <script src="../JS/buscaExibeAluno.js"></script>
</body>
</html>