<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/exibirDados.css">
    <title>Professor</title>
</head>
<body>
    <div class="form-container">
        <form id="form-busca" class="form-entidade">
            <label>Informe o id do Professor: <input type="text" name="idProfessor" id="buscaIdProfessor"></label>
            <button>Busca Professor</button>
        </form>
    </div>
    <div id="resultado-container"></div>
    <script src="../JS/buscaExibeProfessor.js"></script>
</body>
</html>