<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../CSS/inserirDados.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Disciplina</title>
</head>
<body>
    <div class="form-container">
        <form action="../ArquivoMani/DisciplinaTeste.php" method="post" class="form-entidadeInserir">
            <h3>FORMULÁRIO INSERIR DISCIPLINA</h3>
            <label>Nome da Disciplina: <input type="text" name="nomeDisciplina" id="nDisciplina"></label>
            <label>Carga Horária da Disciplina: <input type="text" name="CargaHDisciplina" id="cargaDisciplina"></label>
            <input type="submit" value="Cadastrar Disciplina">
        </form>
    </div>
</body>
</html>