<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../CSS/inserirDados.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Aluno</title>
</head>
<body>
    <div class="form-container">
        <form action="../ArquivoMani/AlunoTeste.php" method="post" class="form-entidadeInserir">
            <h2>Formulário Inserção de Aluno</h2>
            <p>PS: Primeiro informe os dados de Aluno para informar disciplina e o curso</p>
            <label>Nome do Aluno: <input type="text" name="nomeAluno" id="nomeA"></label>
            <label>Nº de Matricula do Aluno: <input type="text" name="matriculaAluno" id="mA"></label>
            <h3>Endereço</h3>
            <label>Rua: <input type="text" name="ruaAluno" id="ruaA"></label>
            <label>Bairro: <input type="text" name="bairroAluno" id="bairroA"></label>
            <label>Número: <input type="text" name="numAluno" id="numA"></label>
            <label>CEP: <input type="text" name="cepAluno" id="cepA"></label>
            <input type="submit" value="Cadastrar Curso e Disciplina">
        </form>
    </div>  
</body>
</html>