<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../CSS/inserirDados.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Professor</title>
</head>
<body>
    <div class="form-container">
        <form action="../ArquivoMani/ProfessorTeste.php" method="post" class="form-entidadeInserir">
            <h2>Formulário Inserção de Professor</h2>
            <p>PS: Primeiro informe os dados de professor para informar a disciplina e o curso</p>
            <label>Nome do Professor: <input type="text" name="nomeProfessor" id="nomeP"></label>
            <label>Nº de Matricula do Professor: <input type="text" name="matriculaProfessor" id="mP"></label>
            <label>Escolaridade do Professor: <input type="text" name="escolaridadeProfessor" id="escP"></label>
            <label>Especialidade do Professor: <input type="text" name="especialidadeProfessor" id="espP"></label>
            <h3>Endereço</h3>
            <label>Rua: <input type="text" name="ruaProfessor" id="ruaP"></label>
            <label>Bairro: <input type="text" name="bairroProfessor" id="bairroP"></label>
            <label>Número: <input type="text" name="numProfessor" id="numP"></label>
            <label>CEP: <input type="text" name="cepProfessor" id="cepP"></label>
            <input type="submit" value="Cadastrar Curso e Disciplina">
        </form>
    </div>
</body>
</html>