<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../CSS/inserirDados.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Curso</title>
</head>
<body>
    <div class="form-container">
        <form action="../ArquivoMani/CursoTeste.php" method="post" class="form-entidadeInserir">
            <label>Nome do Curso: <input type="text" name="nomeCurso" id="nCurso"></label>
            <label>Carga Horária do Curso: <input type="text" name="CargaHCurso" id="cargaCurso"></label>
            <input type="submit" value="Cadastrar Curso">
        </form>
    </div>
</body>
</html>