<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/index.css">
    <title>index</title>
</head>
<body>
    <nav class="navbar">
        <a href="./login.html">Login</a>
    </nav>
<main>
    <h1 class="centered">SISTEMA DE GESTÃO ACADÊMICA</h1>
    <footer class="footerI">   
        <h4>Sistema Acadêmico</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione veniam<br>
            amet autem sunt, perspiciatis nemo</p> 
        <p>Copyright ©2023 Sistema Acadêmico. Design By <span>FLORA</span></p>   
    </footer>
</main>
</body>
</html>