<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/login.css">
    <title>HOME</title>
</head>
<body>
    <section class="login">
        <h1 id="whoisyou">Quem é você?</h1>
            <ul id="tipoUsuario">
                <li>
                    <a href="./buscaExibeAluno.html">Aluno</a>
                </li>
                <li>
                    <a href="./buscaExibeProfessor.html">Professor</a>
                </li>
                <li>
                    <a href="./adm.html">Administrativo</a>
                </li>
            </ul>
            <div id="Home">
                <p>Deseja voltar para a home?</p>
                <a href="./index.html">Home</a>
            </div>
    </section>
</body>
</html>